<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quos sed minus tempora ratione voluptatum dolores cupiditate, libero saepe! Quisquam, porro placeat sunt reiciendis voluptatem esse aperiam quae sapiente ducimus?</p>